@using PagedList;
@using PagedList.Mvc;

@model IPagedList<Notesmarketplace1.Models.DownloadModel>
@{
    ViewBag.Title = "MySoldNotes";
}
@{
    Layout = "~/Views/Shared/_Layoutcommon.cshtml";

}
<div class="dashboard-title-wrapper">
    <div class="container-ds">
        <div class="mydownloads">
            <div class="title-section">
                <div class="row">
                    <div class="col-md-6">
                        <h2>My Sold Notes </h2>
                    </div>
                    @using (Html.BeginForm("MySoldNotes", "UserActivity", FormMethod.Get))
                    {
                        <div class="col-md-6 ">
                            <div class="btn-search">
                                <input type="text" name="search" id="place-search" placeholder="   &#xF002;    Search">
                                <button type="submit" id="button-search">SEARCH</button>
                            </div>
                        </div>
                    }
                    </div>
            </div>

            <table class="table border">
                <thead>
                    <tr style="height: 70px; font-weight: 600;">
                        <th scope="col" style="vertical-align: middle;text-align:center;">SR.NO.</th>

                        <th scope="col" style="vertical-align: middle;text-align:center;">
                            @Html.ActionLink("NOTE TITLE", "MySoldNotes", new { sort = ViewBag.TitleparamPublished })
                        </th>
                        <th scope="col" style="vertical-align: middle;text-align:center;">
                            @Html.ActionLink("CATEGORY", "MySoldNotes", new { sort = ViewBag.CategoryparamPublished })
                        </th>
                        <th scope="col" style="vertical-align: middle;text-align:center;">BUYER</th>

                        <th scope="col" style="vertical-align: middle;text-align:center;">
                            @Html.ActionLink("SELL TYPE", "MySoldNotes", new { sort = ViewBag.SelltypeparamPublished })
                        </th>
                        <th scope="col" style="vertical-align: middle;text-align:center;">
                            @Html.ActionLink("PRICE", "MySoldNotes", new { sort = ViewBag.PricepeparamPublished })
                        </th>
                        <th scope="col" style="vertical-align: middle;text-align:center;">
                            @Html.ActionLink("DOWNLOAD DATE/TIME", "MySoldNotes", new { sort = ViewBag.AddedDateparamPublished })
                        </th>
                        <th scope="col"> </th>
                        <th scope="col"> </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count() == 0)
                    {
                        <tr>
                            <td colspan="6" class="text-center">
                                No any record found
                            </td>
                        </tr>
                    }
                    @{
                        var count = 0;
                    }
                    @foreach (var item in Model)
                    {

                <tr class="table2">
                    <td>
                        @(count + ((Model.PageNumber - 1) * Model.PageSize) + 1)
                    </td>
                    <td style="color: #6255a5;">@item.Downloaddetail.NoteTitle</td>
                    <td>@item.Downloaddetail.NoteCategory</td>
                    <td>@item.Userdetail.EmailId</td>

                    <td>
                        @if (@item.Downloaddetail.Ispaid == true)
                        {
                            <p>Paid</p>
                        }
                        else
                        {
                            <p>Free</p>
                        }
                    </td>
                    <td>$@item.Downloaddetail.PurchasedPrice</td>
                    <td>@item.Downloaddetail.AttachmentDownloadedDate</td>
                    <td>
                        <a href="/Notes/NotesDetail/@item.Downloaddetail.NoteId"><img src="~/Content/img/Dashboard/eye.png" role="button" /></a>
                    </td>
                    <td>
                        <div class="dropdown1">
                            <img src="~/Content/img/front-images/dots.png" class="dots" />
                            <div class="dropdown-content1">
                                <a href="/UserActivity/Download/@item.Downloaddetail.NoteId">Download Note</a>

                            </div>
                        </div>
                    </td>
                    

                </tr>
                        count++;
                    }


                    @*<tr class="table2">
                        <td>1</td>
                        <td style="color: #6255a5;">Data Science</td>
                        <td>Science</td>
                        <td>testing123@gmail.com</td>
                        <td>Paid</td>
                        <td>&#36;250</td>
                        <td>27 Nov 2020,11:24:34</td>
                        <td><img src="img/Dashboard/eye.png"></td>
                        <td>
                            <div class="dropdown1">
                                <img src="img/front-images/dots.png" class="dots">
                                <div class="dropdown-content1">
                                    <a href="#">Download Note</a>

                                </div>
                            </div>
                        </td>

                    </tr>
                    <tr class="table2">
                        <td>2</td>
                        <td style="color: #6255a5;">Accounts</td>
                        <td>Commerce</td>
                        <td>testing123@gmail.com</td>
                        <td>Free</td>
                        <td>&#36;0</td>
                        <td>27 Nov 2020,11:24:34</td>
                        <td><img src="img/Dashboard/eye.png"></td>
                        <td>
                            <div class="dropdown1">
                                <img src="img/front-images/dots.png" class="dots">
                                <div class="dropdown-content1">
                                    <a href="#">Download Note</a>

                                </div>
                            </div>
                        </td>


                    </tr>
                    <tr class="table2">
                        <td>3</td>
                        <td style="color: #6255a5;">Social Students</td>
                        <td>social</td>
                        <td>testing123@gmail.com</td>
                        <td>Free</td>
                        <td>&#36;0</td>
                        <td>27 Nov 2020,11:24:34</td>
                        <td><img src="img/Dashboard/eye.png"></td>
                        <td>
                            <div class="dropdown1">
                                <img src="img/front-images/dots.png" class="dots">
                                <div class="dropdown-content1">
                                    <a href="#">Download Note</a>

                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="table2">
                        <td>4</td>
                        <td style="color: #6255a5;">AI</td>
                        <td>IT</td>
                        <td>testing123@gmail.com</td>
                        <td>Paid</td>
                        <td>&#36;158</td>
                        <td>27 Nov 2020,11:24:34</td>
                        <td><img src="img/Dashboard/eye.png"></td>
                        <td>
                            <div class="dropdown1">
                                <img src="img/front-images/dots.png" class="dots">
                                <div class="dropdown-content1">
                                    <a href="#">Download Note</a>

                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="table2">
                        <td>5</td>
                        <td style="color: #6255a5;">Lorem ipsum </td>
                        <td>Lorem</td>
                        <td>testing123@gmail.com</td>
                        <td>Free</td>
                        <td>&#36;0</td>
                        <td>27 Nov 2020,11:24:34</td>
                        <td><img src="img/Dashboard/eye.png"></td>
                        <td>
                            <div class="dropdown1">
                                <img src="img/front-images/dots.png" class="dots">
                                <div class="dropdown-content1">
                                    <a href="#">Download Note</a>

                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="table2">
                        <td>6</td>
                        <td style="color: #6255a5;">Data Science</td>
                        <td>Science</td>
                        <td>testing123@gmail.com</td>
                        <td>Paid</td>
                        <td>&#36;555</td>
                        <td>27 Nov 2020,11:24:34</td>
                        <td><img src="img/Dashboard/eye.png"></td>
                        <td>
                            <div class="dropdown1">
                                <img src="img/front-images/dots.png" class="dots">
                                <div class="dropdown-content1">
                                    <a href="#">Download Note</a>

                                </div>
                            </div>
                        </td>

                    </tr>
                    <tr class="table2">
                        <td>7</td>
                        <td style="color: #6255a5;">Accounts</td>
                        <td>Commerce</td>
                        <td>testing123@gmail.com</td>
                        <td>Free</td>
                        <td>&#36;0</td>
                        <td>27 Nov 2020,11:24:34</td>
                        <td><img src="img/Dashboard/eye.png"></td>
                        <td>
                            <div class="dropdown1">
                                <img src="img/front-images/dots.png" class="dots">
                                <div class="dropdown-content1">
                                    <a href="#">Download Note</a>

                                </div>
                            </div>
                        </td>


                    </tr>
                    <tr class="table2">
                        <td>8</td>
                        <td style="color: #6255a5;">Social Students</td>
                        <td>social</td>
                        <td>testing123@gmail.com</td>
                        <td>Free</td>
                        <td>&#36;0</td>
                        <td>27 Nov 2020,11:24:34</td>
                        <td><img src="img/Dashboard/eye.png"></td>
                        <td>
                            <div class="dropdown1">
                                <img src="img/front-images/dots.png" class="dots">
                                <div class="dropdown-content1">
                                    <a href="#">Download Note</a>

                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="table2">
                        <td>9</td>
                        <td style="color: #6255a5;">AI</td>
                        <td>IT</td>
                        <td>testing123@gmail.com</td>
                        <td>Paid</td>
                        <td>&#36;250</td>
                        <td>27 Nov 2020,11:24:34</td>
                        <td><img src="img/Dashboard/eye.png"></td>
                        <td>
                            <div class="dropdown1">
                                <img src="img/front-images/dots.png" class="dots">
                                <div class="dropdown-content1">
                                    <a href="#">Download Note</a>

                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="table2">
                        <td>10</td>
                        <td style="color: #6255a5;">Lorem ipsum </td>
                        <td>Lorem</td>
                        <td>testing123@gmail.com</td>
                        <td>Free</td>
                        <td>&#36;115</td>
                        <td>27 Nov 2020,11:24:34</td>
                        <td><img src="img/Dashboard/eye.png"></td>
                        <td>
                            <div class="dropdown1">
                                <img src="img/front-images/dots.png" class="dots">
                                <div class="dropdown-content1">
                                    <a href="#">Download Note</a>

                                </div>
                            </div>
                        </td>
                    </tr>*@

                </tbody>
            </table>
        </div>
        <div class="text-center">
            <ul class="pagination">
                <li>
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

                    @Html.PagedListPager(Model, page => Url.Action("MysoldNotes",
                        new { page, sort = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter })
               , new PagedListRenderOptions() { MaximumPageNumbersToDisplay = 5 })
                </li>
            </ul>
        </div>

    </div>
</div>