@model Notesmarketplace1.Models.ChangePassword
@{
    Layout = "~/Views/Shared/_Layoutcommonn.cshtml";
}
   <section id="login">
        <!--logo-->
        <div id="logo" class="text-center">
            <img src="~/Content/img/admin-images/top-logo.png" />
        </div>
        <!--login-->
        <div class="container">
            <div class="cp text-center">
                <h2>Change password</h2>
                <p>Enter your new password to change your password</p>
            </div>
            <!--form-->
            @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { }))
            {
        <div class="row" id="passwordold">
            <div class="col-md-12">

                <label for="exampleInputPassword1">Old Password</label>
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control lo", @id = "exampleInputPasswordold", @placeholder = " Enter your old password" })
                @Html.ValidationMessageFor(x => x.OldPassword, "", new { @class = "text-danger" })
                @*<input type="password" class="form-control lo" id="exampleInputPasswordold" placeholder=" Enter your old password">*@
                <span toggle="#password-field" class="fa fa-fw fa-eye field-icon f-i toggle-password"></span>
                @if (@ViewBag.ErrorMessage != null)
                {
                    <p class="text-danger">@ViewBag.ErrorMessage</p>
                }

            </div>
        </div>
            <div class="row" id="passwordnew">
                <div class="col-md-12">

                    <label for="exampleInputPassword1">New Password</label>
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control lo", @placeholder = " Enter your new password", @id = "exampleInputPasswordnew" })
                    @Html.ValidationMessageFor(x => x.NewPassword, "", new { @class = "text-danger" })
                    @*<input type="password" class="form-control lo" id="exampleInputPasswordnew" placeholder=" Enter your new password">*@
                    <span toggle="#password-field" class="fa fa-fw fa-eye field-icon f-i toggle-password"></span>

                </div>
            </div>
            <div class="row" id="passwordconfirm">
                <div class="col-md-12">

                    <label for="exampleInputPassword1">Confirm Password</label>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control lo", placeholder = " Enter your confirm password", @id = "exampleInputPasswordconfirm" })
                    @Html.ValidationMessageFor(x => x.ConfirmPassword, "", new { @class = "text-danger" })
                    @*<input type="password" class="form-control lo" id="exampleInputPasswordconfirm" placeholder=" Enter your confirm password">*@
                    <span toggle="#password-field" class="fa fa-fw fa-eye field-icon f-i toggle-password"></span><br><br>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">

                    <button type="submit" class="btn btn-primary btn-lg btn-block" id="btn-login"><span>SUBMIT</span></button>
                </div>
            </div>

            }
        </div>
    </section>

   